ul {
	margin: 0 1px;
	padding: 0 0;
}

/*.status::before {
	content: 'Status: ';
}*/

.status {
	display: inline-block;
	background-color: #e0e0e0;
	max-width: fit-content;

	margin: 4px auto;
	text-align: center;
}

.citation {
	/*border: 1pt solid red;*/
	padding-right: 0; 
}


/* list's li is in-line element */
.title {
	/*border: 1pt solid black;*/
	font-size: 14pt;
	line-height: normal;
	font-family: sans-serif;
	font-weight: bold;
	word-wrap: normal;
	padding: 1px 2px;
	margin:0 0 5px 0;
}

.author, 
.publisher, 
.isbn {
	font-size: 12pt;
}

.author::before {
	content: 'Author: ';
}

.publisher::before {
	content: 'Publisher: ';
}

.isbn::before {
	content: 'ISBN: ';
}