*,
*::before,
*::after {
	box-sizing: border-box;
	/*border: 1pt solid #81A1C1;*/
}


/* header */
.header {
	margin: 10px;
	padding: 5px;
	text-align: center;

	/*background-image: */
}


/* search box */
.user-search {
	margin: 10px auto;
	padding: 5px;
	text-align: center;

}

/* container: 1 row, 4 items */
.container {
	display: flex;
	margin: 5px auto;
	padding: 5px;
	border: 1pt solid black;
}

.col {
	flex: 1;
	border: 1pt solid cyan;
}

.item-col {
	display: flex;
}

/* list's li is in-line element */
.col ul, .col ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	
}

.cover {
	/*border: 1px solid black;*/
	flex: 1;
	max-width: 40%;
	/*max-height: 60%;*/
	margin-right: 0;
	padding-right: 0; 
}

.citation {
	flex: 1;
}

.title {
	font-size: 16pt;
	font-family: sans-serif;
	font-weight: bold;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 2em;
}

.author, 
.publisher, 
.isbn {

}



/* barcode */
.hide {
	display: none;
}

/* Availability */
.avail {
	color: green;
}

.unavail {
	color: grey;
}