*,
*::before,
*::after {
	box-sizing: border-box;
	/*border: 1pt solid #81A1C1;*/
}


/* header */
.header {
	margin: 10px;
	padding: 5px;
	text-align: center;

	/*background-image: */
}


/* search box */
.user-search {
	margin: 10px auto;
	padding: 5px;
	text-align: center;

}




/* buttons */
.status-action {
	display: flex;
}

button {
	margin-top: 10px;
}

.status::before {
	content: 'Status: ';

}
.status {
	border: none;
	background-color: unset;
	flex: 2;
}

.checkout {
	max-width: 50%;
	flex: 3;
	margin-left: auto;
	margin-right: auto;
}


/* barcode */
.hide {
	display: none;
}

/* Availability */
.avail {
	color: green;
}

.unavail {
	color: grey;
}