.form-popup {
  display: block;
  position: relatvie;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1pt solid #1976d2;
  width: 30%;
}


.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
}